@model IEnumerable<DisplayNameConnection>
@{
    ViewData["Title"] = "Connections";
}

<h1>Self-Isolating Bros</h1>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 40%;
        }

            .card:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }
    </style>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/messaging.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <a class="btn btn-primary" asp-controller="Messaging" asp-action="FindConnection">Click here to find a new mate!</a>
        </div>
        @foreach (DisplayNameConnection c in Model) {
            <div class="row">
                <form id="@c.Connection.ID" class="card" method="get" asp-controller="Messaging" asp-action="Index">
                    <p>@c.OtherUser.DisplayName</p>
                    <input hidden Name="connectionId" value="@c.Connection.ID" />
                </form>
            </div>
            <script>
                    document.getElementById("@c.Connection.ID").addEventListener("click", document.getElementById("@c.Connection.ID").submit);
            </script>
        }
    </div>
</body>

