@model Connection

@{
    ViewData["Title"] = "Messaging";
    if (Model?.user1 == null || Model?.user2 == null) { return; }
}

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .card 
            {
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                transition: 0.3s;
                width: 40%;
            }


                .card:hover 
                {
                    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                }
        </style>
        <script src="~/js/jquery.ns-autogrow/jquery.ns-autogrow.min.js"></script>
        <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
        <script src="~/js/messaging.js"></script>

    </head>
<span class="d-none" id="username">@User.Identity.Name</span>

<div class="row d-flex flex-grow-1">
    <div class="col-md d-none d-md-block"></div>

    <div class="col-md-8 d-flex flex-grow-1">
        <div class="flex-grow-1 d-flex flex-column border-left border-right p-2" id="messages-body">

            <div class="card d-flex flex-grow-1">
                <div class="card-header">
                    <span class="text-center">Talking to @ViewData["otherUser"]</span>
                </div>
                <div class="card-body flex-grow-1" id="message-scroll" style="height:0; overflow:auto">
                    <ul id="messages-list">
                        @foreach (var msg in (List<Message>)ViewData["messages"]) {
                            if (msg.SentBy == User.Identity.Name) {
                                <li class="message-right mb-3">
                                    <span class="shadow-sm">@msg.Msg</span>
                                </li>
                            }
                            else {
                                <li class="message-left mb-3">
                                    <span class="shadow-sm">@msg.Msg</span>
                                </li>
                            }
                        }

                    </ul>
                </div>

                <div class="card-footer">
                    <form id="message-form">
                        <div class="input-group">
                            <input id="connection-id" value="@Model.ID" type="hidden" />
                            <textarea class="form-control" placeholder="message" id="message" rows="1"></textarea>
                            <div class="input-group-append">
                                <button class="btn btn-outline-info" id="sendbtn">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md d-none d-md-block"></div>
</div>